{
    "plugins": [
        "react",
        "react-redux"
    ],
    extends: [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react-redux/recommended",
        "plugin:prettier/recommended"
    ],
    "parserOptions": {
        ecmaVersion: 12,
        sourceType: "module",
        ecmaFeatures: {
            jsx: true,
            modules: true,
            experimentalObjectRestSpread: true
        },
        parser: "@babel/eslint-parser"
    },
    env: {
        node: true,
        browser: true,
        jest: true,
        es2021: true
    },
    rules: {
        "react/jsx-no-target-blank": 0,
        "react/jsx-filename-extension": [1, { extensions: [".js", ".jsx"] }],
        "react/prop-types": 1,
        "react-redux/connect-prefer-named-arguments": 2,
        "react-redux/prefer-separate-component-file": 0,
        "quotes": 0,
        "no-console": ["error", { allow: ["warn", "error", "debug"] }],
        "no-trailing-spaces": 1,
        "eol-last": 1,
        "no-unused-vars": [1, {
            "vars": "all",
            "args": "after-used",
            "argsIgnorePattern": "options"
        }],
        'prettier/prettier': ['error', {}, { usePrettierrc: true }]
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
