# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# npm package lock file
package-lock.json

# Because Mac OS X
.DS_Store

# Output directory
/build

# Customized config files
/config/*.js
