window.client_config = {

    // Use https:// and wss:// for secure servers
    API_ROOT_URL:  http://${window.location.hostname}:8000/sealog-server`,
    WS_ROOT_URL:  `ws://${window.location.hostname}:8000/ws`,

    // Derive the path at which Sealog is being hosted. This assumes that the
    // current executing script is ROOT_PATH/config/client_config.js
    ROOT_PATH:  (() => {
        const script_path = (new URL(document.currentScript.src)).pathname;
        return script_path.replace(/\/config\/client_config\.js$/, '/');
    })(),

    // Where the images are hosted on the webserver.
    IMAGE_PATH:  "/files/images",

    // Site customization
    // Add a reCaptcha site kit to enable recaptcha bot protection
    RECAPTCHA_SITE_KEY:  "",

    // Text show on the login page.  If a login image is defined then this text will appear below the image.
    LOGIN_SCREEN_TXT:  "Sealog provides the Oceanographic Research community with an open-source tool for recording, reviewing, and exporting insitu scientific and operational observations.",

    // Image file shown on the login page.  This image needs to be saved in the ./dist/images folder
    LOGIN_IMAGE:  "",

    // Text show on the main page above the cruise list.
    MAIN_SCREEN_HEADER:  "Welcome to Sealog",

    MAIN_SCREEN_TXT:  "Please select a cruise from the list below.  Once a cruise is selected please select a lowering from the list of lowerings associated with that cruise that appear at the bottom of the cruise information panel.  Selecting a lowering will open the lowering information panel.  At the bottom of the cruise information panel there will be links for proceeding to the lowering replay section, the lowering review section and the lowering gallery section of Sealog. If at any time you wish to return to this page please click the \"Review Cruises/Lowerings\" text in upper navigation bar.",

    // Title displayed on the left side of the title bar
    HEADER_TITLE:  "Sealog",

    // Set default vessel
    DEFAULT_VESSEL:  "",

    // Use an internal tile server (true), or pull tiles directly from the Internet (false).
    USE_MAPTILE_PROXY:  false,

    // Add cruise-level and lowering-level authentication. This needs to match the 'useAccessControl' setting on the sealog-server.
    USE_ACCESS_CONTROL:  true,

    // Remove ability to add new events
    DISABLE_EVENT_LOGGING:  false,

    // Placeholder text displayed in CruiseID textfield "i.e. OXR20210101"
    CRUISE_ID_PLACEHOLDER:  "",

    // RegExp object to use when verifying CruiseID i.e. RegExp(/^OXR20[0-9]{2}[0-1][0-9][0-3][0-9]$/)
    CRUISE_ID_REGEX:  null,

    // Placeholder text displayed in LoweringID textfield "i.e. CHR0001"
    LOWERING_ID_PLACEHOLDER:  "",

    // RegExp object to use when verifying LoweringID i.e. RegExp(/^CHR[0-9]{4}$/)
    LOWERING_ID_REGEX:  null,

    // What to call "cruise/cruises", format: null OR ["single version","plural version"] use lowercase
    CUSTOM_CRUISE_NAME:  null,

    // What to call "lowering/lowerings", format: null OR ["single version","plural version"] use lowercase
    CUSTOM_LOWERING_NAME:  ["dive", "dives"],

    // Custom metadata fields to appear when creating and editing lowerings
    CUSTOM_LOWERING_METADATA_FIELDS:  [
        { name: "pilot", label: "Pilot", required: false },
        { name: "port_observer", label: "Port Observer", required: false },
        { name: "stbd_observer", label: "Starboard Observer", required: false },
        { name: "origin_x", label: "Origin X", required: false },
        { name: "origin_y", label: "Origin Y", required: false },
    ],

};
