server {
    listen 80;
    server_name localhost;
    root /usr/share/nginx/html;
    index index.html;

    location /sealog/ {
        include  /etc/nginx/mime.types;
        try_files $uri $uri/ /sealog/index.html;
    }
}
