server {
    listen 80;
    server_name localhost;
    root /usr/share/nginx/html/sealog;
    index index.html;

    location / {
        include  /etc/nginx/mime.types;
        try_files $uri $uri/ /index.html;
    }
}
